body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    /* background-image: url(/images.jpeg); */
    background-size: cover;
    background-color: burlywood;
    
}
.wrapper{
    background: #FF9494;
    width: 1000px;
    height: 400px;
    position: relative;
    margin: 0 auto;
    transform: translateY(50%);


}
.header{
    width: 30%;
    font-size: 60px;
    height: 100%;
        padding-left: 100px;
       display: flex;
       justify-content: start;
       align-items: center;
}
.container{
    background: #F9F5E7;
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: center;
   margin:0 auto;
   position: absolute;
    top: -40px;
    right: 40px;
}


input{
  background-color: rgb(234, 226, 226);
  outline: 0;
  padding: 15px;
  border: 0;
  border-radius: 20px;
  width: 100%;
  
}

input::placeholder{
    font-size: .95rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    letter-spacing: .1rem;
    color: #000;
}
form{
    display: flex ;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    /* align-items: center; */
    
}

.radio{
    display: flex;
    gap: 20px;
    
}
label{
    font-size: large;
}
input[type=radio]{
    border: 0px;
    width: 100%;
    height: 2em;
}

p{
    font-size: 30px;
    font-weight: bold;
    text-align: start;
    line-height: 50%;
}
.pass{
    position: relative;
}
i{
    position: absolute;
    right: -10px;
    top: 13px;
    cursor: pointer;
}
button
{
    border: 0;
    border-radius: 40px;
    background-color: #FF9494;
    cursor: pointer;
    padding: 10px;
    transform: translate(15px,10px);
}
button:hover{
    background-color:burlywood ;
    scale: 0.95;
}


@media only screen and (max-width:380px) {
    body{
    height: 120px;
      
    }
    .wrapper{
        background: #FF9494;
        width: 200px;
        height: 220px;
        position: relative;
        margin: 0 auto;
        transform: translateY(10%);
        
    
    }
    .header{
        width: 30%;
        font-size: 20px;
        height: 100%;
            /* padding-left: 100px; */
           display: flex;
           justify-content: start;
           align-items: start;
           transform: translateX(-49px) translateY(20px);
    }
    .container{
        position: unset;
        background: #F9F5E7;
        height: 300px;
        width:300px;
        display: flex;
        justify-content: center;
       margin:0 auto;
       transform: translateX(-50px) translateY(-120px);

       /* position: absolute;
        top: -40px;
        right: 40px; */
    }


    
input{
    background-color: rgb(234, 226, 226);
    outline: 0;
    padding: 2px;
    padding-left: 9px;
    border: 0;
    border-radius: 20px;
    width: 100%;
    
    
  }
  
  input::placeholder{
      font-size: .45rem;
      font-family: 'Montserrat', sans-serif;
      font-weight: 200;
      letter-spacing: .1rem;
      color: #000;
      padding-left: 2px;
  }
  form{
      display: flex ;
      flex-direction: column;
      gap: 5px;
      justify-content: center;
      /* align-items: center; */
      
  }
  p{
    font-size: 15px;
    font-weight: bold;
    text-align: start;
    line-height: 50%;
}
  .radio{
      display: flex;
      gap: 20px;
      
  }
  label{
    font-size: small;
}
input[type=radio]{
    border: 0px;
    width: 100%;
    height: 1em;
}
button{
    padding: 5px;
}
i{
    position: absolute;
    right: 0;
    top: 5px;
    cursor: pointer;
    font-size: 10px;
}
button{
    padding: 2px;
    transform: translate(4px,10px);

}
}