*{
  outline: none;
  box-sizing: border-box;
}
body {
    /* background:#F9F5E7; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  a{
    text-decoration: none;
    padding-left: 20px;
    color: white;
  }
  .wrapper{
    display: flex ;
    flex-direction:row;
    position: relative;
  }
  .navbar{
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
      align-items: center;
    height: 80px;
    background-color: #FF9494;
    z-index: 100;
    gap: 30px;
  }
  .navbar div p{
    color: #fff;
    padding: 18px;
    size: 10px;
  }
  .sideMenu {
    position: fixed; 
    left: 0;
    top: 80px;
    /* background: #fff; */
    background:#FBF2CF;
    width: 280px;
    height: 100vh;
    z-index: 100;
    overflow-y: scroll;
      transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
  }
  .sideMenu.active {
    left: -280px;
    transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
  }
  .sideMenu ul {
    display: block;
    margin: 0;
    padding: 0;
  }
  .sideMenu ul li {
    display: block;
    border-top: 1px solid #424854;
  }
  .sideMenu ul li:first-child {
    border: 0;
  }
  .sideMenu ul li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    color: #424854;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }
  .list div ul a{
    border-bottom: 1px solid #424854;
  } 
  .sideMenu ul li a:hover{
    background-color: #fff;
  
    color: #000;
    transition: all 1s;
    scale: 0.97;
  }
  .menuIcon {
    display: inline-block;
    background: #FF9494;
    padding: 3px 12px;
    cursor: pointer;
    position: absolute;
    left: 120px;
    top: 13px;
  }
  .menuIcon.active span {
    display: block;
    width: 25px;
    height: 4px;
    margin: 20px 0;
    background: #fff;
    position: relative;
    transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
  }
  .menuIcon.active span:before {
    position: absolute;
    content: "";
    left: 0;
    top: -10px;
    width: 25px;
    height: 4px;
    background: #fff;
    transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
  }
  .menuIcon.active span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background: #fff;
    transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
  }
  .menuIcon span {
  
    background: #FF9494;
    transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
  }
  .menuIcon span:before {
    transform: rotate(45deg);
    top: 0px;
    transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
  }
  .menuIcon span:after {
    transform: rotate(-45deg);
    bottom: 0px;
    transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
  }

  
  #li{
    position: relative;
  }
  .dropdown-class{
    display: none;
    color: #fff;
    transition: all 2s;
  }
  
 i{
  font-size: larger;
  cursor: pointer;
 }
  .listIcon{
  
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  
  .sideMenu ul .dash{
    display: flex;
    justify-content:start;
    gap: 20px;
  }
  
  .container.active{
  
    margin-left: 0;
    transition: all .5s;
  }
  
  .container{
   
    max-height: 100vh;
    /* max-width: 11/12; */
    margin-top: 80px;
    margin-left: 280px;
    margin-right: 0;
        transition: all .5s;
        padding: 0;

  }
  
  
  .log{
    display: flex;
  justify-content:end;
  align-items: end;  
  
    z-index: 100;
  }
  
  










  
.container{
  max-width: 1000px;
  background: #fff;
  width: 100vw;
  padding: 25px 40px 10px 40px;
  /* box-shadow: 0px 0px 10px rgba(0,0,0,0.1); */
}
.container .text{
  text-align: center;
  font-size: 41px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(115deg, #e4568c 10%, #ea01db 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container form{
  padding: 30px 0 0 0;
}
.container form .form-row{
  display: flex;
  margin: 32px 0;
}
form .form-row .input-data{
  width: 100%;
  height: 40px;
  margin: 0 20px;
  position: relative;
}
form .form-row .textarea{
  height: 70px;
}
.input-data input,
.textarea textarea{
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(0,0,0, 0.12);
}
.input-data input:focus ~ label, .textarea textarea:focus ~ label,
.input-data input:valid ~ label, .textarea textarea:valid ~ label{
  transform: translateY(-20px);
  font-size: 14px;
  color: #3498db;
}

.textarea textarea{
  resize: none;
  padding-top: 10px;
}
.input-data label{
  position: absolute;
  pointer-events: none;
  bottom: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
}
.textarea label{
  width: 100%;
  bottom: 40px;
  background: #fff;
}
.input-data .underline{
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
}
.input-data .underline:before{
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: #3498db;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before,
.textarea textarea:focus ~ .underline:before,
.textarea textarea:valid ~ .underline:before{
  transform: scale(1);
}

.form-row select{
  margin-right: 40px;
}
select{
    padding: 10px;
    padding-right: 10px;

}
input[type=submit]{
    
    background-color:crimson;
}
@media (max-width: 700px) {
  .container .text{
    font-size: 30px;
  }
  .container form{
    padding: 10px 0 0 0;
  }
  .container form .form-row{
    display: block;
  }
  form .form-row .input-data{
    margin: 35px 0!important;
  }
  .submit-btn .input-data{
    width: 40%!important;
  }
  .navbar{
    background-color: #ea01db;
  }
}
@media (max-width: 400px) {

    form .form-row .input-data{
        margin: 8px 0!important;
      }
      .form-row select{
        margin-right: 0;
      }
      body{
        width: 90%;
      }
     
      .wrapper{
        overflow-y: hidden;
      }
}